body,html {
    height: 100%;
    margin: 0;
    background-color: white;
    opacity: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar-custom {
    background-color:  #54A096;
    position: fixed;
    top: 0px;
    width: 100%;
}


#logo {
    color: white;
    cursor: pointer;
    font-size: 30px;
    
}

.schedule {
    font-size: 20px;
}


/*
.imgContainer {
    overflow: hidden;
    max-height: 400px;
}

.imgContainer img {
    
}
*/

#logo:hover {
    color: #FDBFFF;
}

#register:hover {
    background-color: #FDBFFF;
}

a {
    color: white;
    font-size: 20px;
    text-align: right;
    padding-left: 15px;
}
a:hover {
    color: #FDBFFF;
    text-decoration: none;
}

#right-nav {
    padding-right: 20px;
    padding-top: 10px;
}

#about {
    font-size: 40px;
    color: teal;
    text-align: center;
}

.question_body {
    font-size: 20px;
}

#faq {
    padding: 20px 20px 20px 20px;
}

#note {
    font-size: 20px;
}

h5 {
    text-align: center;
    color: black;
}

h3 {
    color: #424c55;
    text-align: center;
}

.question_header {
    font-size: 20px;
    color: #54A096;
}

.question {
    padding: 10px
}

.question:hover {
    cursor: pointer;
}

.question_body {
    display: none;
}

.sched_header {
    
}

.sched_body {
    text-align: center;
    margin: 20px;
    font-size: 16px;
}