body {
    padding-top: 150px;
    background-color: white;
    opacity: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar-custom {
    color:  #54A096;
    background-color:  #54A096;
    
}

#logo {
    color: white;
    cursor: pointer;
    font-size: 30px;
}


.imgContainer img {
  width:100%;
}
#logo:hover {
    color: #E3F4E3;
}

a {
    color: white;
    font-size: 20px;
    text-align: right;
    padding-left: 15px;
}
a:hover {
    color: #E3F4E3;
    text-decoration: none;
}

#right-nav {
    padding-right: 20px;
    padding-top: 10px;
}

#about {
    font-size: 40px;
    color: teal;
    text-align: center;
}

#note {
    font-size: 20px;
}

h5 {
    text-align: center;
    color: black;
}

h3 {
    color: #C9F3D9;
    text-align: center;
}
