<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SheInnovates 2018</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#schedule">Schedule</a></li>
      <li><a href="#live">Live</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
    </ul>
  </div>
</nav>

<a name="schedule">Schedule</a>
<a name="live">Live</a>
<a name="faq">FAQ</a>
<a name="sponsors">Sponsors</a>

<footer></footer>
